@media (max-width: 320px) {
  body {
    width: 390px;
  }
  .display {
    display: none;
  }
  .banner img.logo {
    margin-top: 4px !important;
    max-height: 60px !important;
  }
  .slider2 {
    height: 190px !important;
    margin-top: 75px !important;
  }
  .slider2.shrink {
    margin-top: 65px !important;
  }
  .slider2 .tp-banner-container {
    width: 386px !important;
  }
  .result-area {
    margin-bottom: 30px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  body {
    width: 390px;
  }
  .display {
    display: none;
  }
  .banner img.logo {
    margin-top: 4px !important;
    max-height: 60px !important;
  }
  .slider2 {
    height: 190px !important;
    margin-top: 55px !important;
  }
  .slider2.shrink {
    margin-top: 65px !important;
  }
  .slider2 .tp-banner-container {
    width: 386px !important;
  }
  .result-area {
    margin-bottom: 30px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .display {
    display: none;
  }
  .banner img.logo {
    margin-top: 4px !important;
    max-height: 60px !important;
  }
  .slider2 {
    height: 190px !important;
    margin-top: 55px !important;
  }
  .slider2.shrink {
    margin-top: 85px !important;
  }
  .slider2 .tp-banner-container {
    width: 424px !important;
  }
  .result-area {
    margin-bottom: 30px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .navbar .navbar-nav li a {
    text-align: center;
  }
  .navbar .navbar-toggle span {
    background: black;
  }
  .display {
    display: none;
  }
  .banner img.logo {
    margin-top: 4px !important;
    max-height: 60px !important;
  }
  .slider2 {
    height: 378px !important;
    margin-top: 175px !important;
  }
  .slider2.shrink {
    margin-top: 65px !important;
  }
  .page-banner > div {
    margin-top: 120px !important;
    text-align: center;
  }
  .result-area {
    margin-bottom: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .display {
    visibility: visible;
  }
  .banner img.logo {
    margin-top: 4px !important;
    max-height: 60px !important;
  }
  .slider2 {
    height: 500px !important;
    margin-top: 150px !important;
  }
  .slider2.shrink {
    margin-top: 65px !important;
  }
  .result-area {
    margin-bottom: 30px;
  }
}
#container {
  padding: 0;
}
.banner {
  border: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  transition: all 0.5s;
  box-shadow: 0;
  margin-top: 35px;
}
.banner img.logo {
  margin-top: 25px;
  max-height: 140px;
  transition: all 0.4s ease;
}
.banner .navbar-nav {
  margin-top: 0;
}
.banner .navbar-nav a {
  padding: 20px;
}
.banner .navbar-nav > li {
  margin-left: -10px;
}
.banner .navbar-default .navbar-nav > li > a {
  font-size: 13px;
}
.banner.shrink {
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  margin-top: 0px;
}
.banner.shrink img.logo {
  margin: 5px 0;
  max-height: 45px;
}
.banner.shrink .navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.tp-caption.large_bold_black {
  padding: 10px 15px;
  background-color: #ffff64;
  font-size: 2.67em;
  line-height: 1.1;
}
.tp-caption.medium_thin_black {
  background-color: #ffff64;
  padding: 5px 15px;
  font-size: 1.2em;
}
.page-banner > div {
  margin-top: 185px;
}
/*
* header top-bar css
*/
.header-top-bar-container {
  background-color: #006f37;
  max-height: 35px;
}
.header-top-bar-container .header-toggle {
  display: none;
  clear: both;
  text-align: center;
  color: #777;
  padding: 15px 0;
  transform: rotate(180deg);
  -ms-filter: fliph;
  filter: fliph;
}
.header-top-bar-container .header-toggle .active {
  transform: rotate(0);
}
.header-top-bar-container .header-toggle:hover {
  color: #000;
}
.header-top-bar {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header-top-bar .contact-details {
  float: left;
}
.contact-details li {
  float: left;
  border-left: 1px solid #E2E6E7;
  /*font-family: 'Open Sans';*/
  font-weight: 500;
  /*font-size: 13px;*/
  color: #ffffff;
  /*line-height: 20px;*/
  padding: 10px 20px;
  list-style: none;
}
.contact-details li a {
  color: #ffffff;
}
.contact-details li :before {
  color: #A4AAB3;
  font-size: 14px;
  margin-right: 10px;
  padding-bottom: 1px;
}
/*
* banner
*/
.slider2 {
  margin-top: 215px;
}
.slider2.shrink {
  margin-top: 49px;
}
.result-area {
  background: #f9fafb !important;
}
.result-area button {
  position: relative;
}
.admission-open .title-section {
  background: #ffffff !important;
}
.text-bold {
  font-weight: bold !important;
}
.page-banner {
  margin-top: 215px;
  padding: 2px 0 47px;
}
.page-banner.shrink {
  margin-top: 50px;
}
.page-banner :after {
  background: rgba(58, 61, 65, 0.62);
}
.stat {
  padding: 20px 5px;
  background: #336699;
  text-align: center;
  float: left;
  margin-left: 100px;
  width: 150px;
}
.stat-count {
  font-size: 51px;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: "Georgia", Courier, monospace;
  padding: 0;
  position: relative;
  color: white;
}
.stat-detail {
  color: #fff;
  padding-top: 10px;
  font: italic 1.3rem/1.75 "Georgia", Courier, monospace;
}

/*# sourceMappingURL=awt.css.map */
