* {
    margin: 0; padding: 0;
}
body {
    font-size: 100%;
}
.accordion {
    width: 650px;
    margin: -16px auto;
}
.accordion h1, h2, h3, h4 {
    cursor: pointer;
}
/*.accordion h2, h3, h4 {*/
    /*!*font-family: "News Cycle";*!*/
/*}*/
.accordion h1 {
    padding: 15px 20px;
    background-color: #f2f3f3;
    font-size: 2.5rem;
    font-weight: normal;
    color: #20252b;
}
.accordion h1:hover {
    color: #20252b;
    background-color: #0aa89e;
}
.accordion h1{
    border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
    border-radius: 0 0 10px 10px;
}
/*.accordion h1:not(:last-of-type) {*/
    /*border-bottom: 1px dotted #1abc9c;*/
/*}*/
.accordion div, .accordion p {
    display: none;
}
.accordion h2 {
    padding: 5px 25px;
    background-color: rgba(41, 135, 79, 0.15);
    font-size: 2rem;
    color: #333;
    margin: 5px auto;
}
.accordion h2:last-of-type {
    padding: 5px 30px;
    /*background-color: rgba(191, 53, 37, 0.5);*/
    margin: 17px auto;
    margin-top: 4px;
}
.accordion h2:hover {
    background-color: #0aa89e;
}
.accordion h3 {
    padding: 5px 30px;
    background-color: rgba(41, 136, 79, 0.5);
    /*font-size: .9rem;*/
    color: #333;
    margin: 5px auto;
}
.accordion h3:last-child {
    padding: 5px 30px;
    /*background-color: rgba(191, 53, 37, 0.5);*/
    margin: 17px auto;
    margin-top: 4px;
}
.navigation .nav-header > ul > li:first-child > a {
    padding-left: 0;
}
.accordion h3:hover {
    background-color: #0aa89e;
}
.accordion h4 {
    padding: 5px 35px;
    background-color: #ffc25a;
    font-size: .9rem;
    color: #af720a;
}
.accordion h4:hover {
    background-color: #e0b040;
}
.accordion p {
    padding: 15px 35px;
    background-color: #ddd;
    font-family: "Georgia";
    font-size: .8rem;
    color: #333;
    line-height: 1.3rem;
}
.accordion .opened-for-codepen {
    display: block;
}

.btn-flat, .btn-icon-toggle {
    background-color: transparent;
    font-weight: 500;
    border-color: transparent;
    /* margin-top: -67px; */
    float: right;
    /* margin-left: 60px; */
}

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }